---
#
# Copyright (c) 2017 Jacques-Philippe JUBENOT
# license: Licensed under CC-BY-NC-SA 3.0. All rights reserved.
#
#
# Role Remove-Softwares
#
# Clean DNF
- name: Clean DNF Remove-Softwares
  ansible.builtin.shell: 
    cmd: dnf clean all
  args:
    executable: /bin/bash
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/bin:/usr/sbin:/bin:/sbin"
  tags:
    - minimum

# Remove some unnecessary softwares on my system.
- name: Remove some unnecessary softwares
  ansible.builtin.dnf:
    name:
       - gstreamer1-plugins-good-qt6                     # Conflict with gstreamer1-plugins-good.
    state: absent       
  tags:
    - rm-softwares
