---
#
# Copyright (c) 2017 Jacques-Philippe JUBENOT
# license: Licensed under CC-BY-NC-SA 3.0. All rights reserved.
#
#
# Role Softwares
#
# Clean DNF
- name: Clean DNF before Install list
  ansible.builtin.shell: 
    cmd: dnf clean all
  args:
    executable: /bin/bash
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/bin:/usr/sbin:/bin:/sbin"
  tags:
    - minimum

# Install Default Softwares
- name: Install Different Packages
  ansible.builtin.dnf:
    name:
      # - 0ad                         # Game like Microsoft Age of Empire -- Great gaming software
      - autoconf
      - automake
      - calibre                       # Ebook and numuric book software
      - clamd                         # ClamAV Anti-Virus daemon
      - clamav                        # ClamAV Anti-Virus
      - clamav-update                 # ClamAV Anti-Virus definition updater
      - dconf-editor                  # Gnome Shell: DConf-Editor
      - dmidecode
      - dnf5                          # Fedora Package Management Utility
      - dnf5-plugins                  # Fedora Package Management Utility
      - dnf-plugin-system-upgrade
      - easytag                       # Audio tagging tool and adding image in MP3 audio file
      - elfutils-libelf-devel
      - etckeeper                     # Etc versionning software
      - etckeeper-dnf                 # Etc versionning software DNF tool
      - evolution                     # Email software
      - filezilla                     # Ftp software
      - foo2qpdl                      # print on Samsung Laser printers
      - gcc                           # Compiliation software
      - gimp
      - git
      - gitg
      - glances                       # CLI System Monitoring
      - glib2
      - glib2-devel
      - glibc-devel
      # - gnome-battery-bench         # Gnome tool for Laptop
      - gnome-extensions-app
      - gnome-nettool                 # Gnome Network graphical tool
      - gnome-themes-extra            # Adding Awaita-Dark theme for old apps
      - gnome-tweak-tool              # Tweak Gnome Shell
      - gnome-sudoku                  # Sudoku game
      - gparted                       # Disks and partitions manager
      - grip                          # Audio CD ripping software
      - gstreamer-ffmpeg              # Video Codec tool
      - gstreamer1-libav              # Video Codec tool
      - gstreamer-plugins-ugly        # Video Codec tool
      - gstreamer1-plugins-ugly       # Video Codec tool
      - gtk-murrine-engine            # GTK2 engine
      - gtk2-devel
      - hdparm
      - help2man
      - htop                          # Monitoring tool like "top"
      - iftop                         # Network tool - View bandwidth
      - inxi                          # Hardware components informations
      - iperf3                        # Network tool - Bandwidth test
      - kernel-devel
      - kernel-headers
      - lame                          # MP3 Encoder tool
      - libdnf5-plugin-actions        # Fedora Package Management Utility
      - libreoffice-langpack-fr       # Libreoffice language pack French
      - libsass                       # Library for sassc CSS pre-processor language
      - libselinux-python3
      - libX11-devel
      - lsb-core-noarch
      - lzop                          # Compression Tool
      - mediawriter
      - mercurial                     # Required by Oh-My-Bash tools
      - minicom                       # Tool to communicate to external devices over RS-232
      - mkvtoolnix                    # MKV Codec Tools
      - nano                          # Text editor
      - nautilus-dropbox              # Dropbox in Nautilus -- Legacy package
      - nethogs                       # Network tool
      - obs-studio                    # Software for video recording and live streaming
      - openssl                       # OpenSSL
      - p7zip                         # Compression Tool
      - p7zip-plugins                 # Compression Tool Plugins
      - perl
      - perl-LWP-Protocol-https
      # - pycharm-community           # Python IDE
      - python-dnf
      - python3-ansible-lint          # Ansible-lint
      - python3-dnf-plugin-snapper    # Snapper Features
      - rkhunter                      # RootKit Hunter - Security software
      - rpi-imager                    # Raspberry card/disk imager
      - rubygem-rexml
      - sassc                         # CSS pre-processor language
      - secrets                       # Password manager like Keepass
      - shotwell                      # Pictures manager tool
      - snapper                       # Snapper Features
      - stacer                        # Monitoring and Tweaking graphic tool
      - tar                           # Archiving tool
      - tcptrack                      # Network tool
      - tmux                          # Terminal Multiplexer
      - vim                           # Text editor
      - virt-manager                  # Qemu and LibVirt Manager - Gnome-Boxes too
      - vlc                           # VideoLAN player
      - wget
      - x264-devel                    # Codec Dev Library
      - x265-devel                    # Codec Dev Library
      - xine-lib-extras-freeworld     # Codec files Xine Library
      - xsane                         # Scanner tool for printer/scanner or simple scanner
      - zeal                          # Zeal is an offline documentation browser for software developers
    state: present
    allowerasing: true
  tags:
    - instsoft
